
*{
    padding: 0;
    margin: 0;
}
#app{
    position: relative;
}
table{
    margin: 0 auto;
    background: #999;
}
td{
    cursor: pointer;
    width: 48px;
    height: 48px;
    border: 1px solid #aaa;
}
img{
    width: 100%;
    vertical-align: top;
}
