
*{
    padding: 0;
    margin: 0;
}
#btn-bar{
    padding: 20px 0;
    text-align: center;
    a{
        display: inline-block;
        width: 120px;
        height: 40px;
        line-height: 40px;
        background-color: #000;
        color: #fff;
        border-radius:8px;
        text-decoration: none;
    }
}

#app{
    position: relative;
}
table{
    margin: 0 auto;
    background: #999;
}
td{
    cursor: pointer;
    width: 48px;
    height: 48px;
    border: 1px solid #aaa;
}
img{
    width: 100%;
    vertical-align: top;
}
